/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */

html {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #292C33;
    background-color: #EEEFF3;
    overflow-x: hidden;
}


/* Header */

.nav {

}

.link-item {

}

.link {

}

.link--btn{
    
}